/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #34C759;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-left {
    font-size: 36px;
    font-weight: bold;
    background-color: #34C759;
    padding: 5px;
  }
  .small-text{
    font-size:24px;
    line-height:0.2;
  }
  
  .top-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .dropbtn {
    background-color: #34C759;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    content: "";
  }
  .dropbtn::after {
    content: "\2759\2759\2759"; 
    font-size: 30px; 
    color: white;
    vertical-align: middle;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .get-started {
    background-color: #4CAF50;
    color: white;
    padding: 16px 32px;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  .get-started:hover {
    background-color: #a8d5e3;
    transform: scale(1.2);
  }